<%- messages() %>

<h1><%= title %></h1>

<div class="management-container">
  <div class="management-links">
    <h2>Inventory Management</h2>
    <ul class="flex">
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
  </div>
</div>
